
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title | Sistema de Inventarios</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Dashboard UI Kit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600" rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="~/Content/img/favicon.png" type="image/png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/Content/css/main.min.css">
    <link href="~/Content/css/custom.css" rel="stylesheet" />
</head>

<body class="o-page o-page--center">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    @RenderBody()
    <script src="~/Content/js/main.min.js"></script>
    <script src="~/Content/js/jquery.plugins.js"></script>
    <script src="~/Content/js/custom.js"></script>
</body>

</html>
